@page
@model AccessControlWebRazor.Pages.Invitados.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Invitado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Invitado.Id" />
            <div class="form-group">
                <label asp-for="Invitado.DNI" class="control-label"></label>
                <input asp-for="Invitado.DNI" class="form-control" />
                <span asp-validation-for="Invitado.DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invitado.Apellido" class="control-label"></label>
                <input asp-for="Invitado.Apellido" class="form-control" />
                <span asp-validation-for="Invitado.Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invitado.Nombre" class="control-label"></label>
                <input asp-for="Invitado.Nombre" class="form-control" />
                <span asp-validation-for="Invitado.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invitado.Telefono" class="control-label"></label>
                <input asp-for="Invitado.Telefono" class="form-control" />
                <span asp-validation-for="Invitado.Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invitado.Mail" class="control-label"></label>
                <input asp-for="Invitado.Mail" class="form-control" />
                <span asp-validation-for="Invitado.Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invitado.Observacion" class="control-label"></label>
                <input asp-for="Invitado.Observacion" class="form-control" />
                <span asp-validation-for="Invitado.Observacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
