<!-- Navbar -->
<nav class="main-header navbar navbar-expand navbar-light navbar-default">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="font-size: 16px;" >
        <li  class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        @*<li  class="nav-item d-none d-sm-inline-block">
            <a style="color: #fff; background-color: #a7191b;" href="#" class="nav-link">Lista de Ingresos y Egresos</a>
        </li>
        <li  class="nav-item d-none d-sm-inline-block">
            <a style="color: #fff; background-color: #a7191b;" href="Procesamiento/Index" class="nav-link">Procesamiento</a>
        </li>*@
    </ul>


    <style>
        /* Estilos adicionales para los botones de la barra de navegación */
        .navbar-nav .nav-link {
            transition: all 0.4s ease; /* Transición suave de 0.4 segundos */
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra en todos los bordes */
            margin: 0 7px;
            border-radius: 5px;
        }

            .navbar-nav .nav-link:hover {
                transform: scale(1.1); /* Agrandar al pasar el cursor */
            }
    </style>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Navbar Search -->
        @*<li class="nav-item">
            <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                <i class="fas fa-search"></i>
            </a>
            <div class="navbar-search-block">
                <form class="form-inline">
                    <div class="input-group input-group-sm">
                        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-navbar" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                            <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>*@
@*
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Brad Diesel
                                <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">Call me whenever you can...</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                John Pierce
                                <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">I got your message bro</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <!-- Message Start -->
                    <div class="media">
                        <img src="dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                        <div class="media-body">
                            <h3 class="dropdown-item-title">
                                Nora Silvester
                                <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                            </h3>
                            <p class="text-sm">The subject goes here</p>
                            <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                        </div>
                    </div>
                    <!-- Message End -->
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
            </div>
        </li>*@
        <!-- Notifications Dropdown Menu -->
        @*<li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">15</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-header">15 Notifications</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-envelope mr-2"></i> 4 new messages
                    <span class="float-right text-muted text-sm">3 mins</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-users mr-2"></i> 8 friend requests
                    <span class="float-right text-muted text-sm">12 hours</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <i class="fas fa-file mr-2"></i> 3 new reports
                    <span class="float-right text-muted text-sm">2 days</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
            </div>
        </li>*@
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link" href="\Logout" role="button">
            Logout
            </a>
        </li>
        @*<li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-th-large"></i>
            </a>
        </li>*@
    </ul>
    <ul class="navbar-nav ml-auto">
        <!-- Color Picker -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="fas fa-paint-brush"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="#" class="dropdown-item" onclick="changeSkin('skin-blue')">Blue</a>
                <a href="#" class="dropdown-item" onclick="changeSkin('skin-black')">Black</a>
                <a href="#" class="dropdown-item" onclick="changeSkin('skin-purple')">Purple</a>
                <a href="#" class="dropdown-item" onclick="changeSkin('skin-yellow')">Yellow</a>
                <a href="#" class="dropdown-item" onclick="changeSkin('skin-red')">Red</a>
                <a href="#" class="dropdown-item" onclick="changeSkin('skin-green')">Green</a>
            </div>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
<script>
    // Function to change skin
    function changeSkin(skin) {
        var navbar = document.getElementsByClassName('main-header')[0];

        // Remove existing skin classes
        navbar.className = navbar.className.replace(/navbar-\S+/g, 'navbar-' + skin.split('-')[1]);

        // Store the selected skin in localStorage
        localStorage.setItem('skin', skin);
    }

    // Apply saved skin on load
    window.onload = function () {
        var savedSkin = localStorage.getItem('skin');
        if (savedSkin) {
            var navbar = document.getElementsByClassName('main-header')[0];

            navbar.className = navbar.className.replace(/navbar-\S+/g, 'navbar-' + savedSkin.split('-')[1]);
        }
    }
</script>
