<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    @* <a href="index3.html" class="brand-link">
    <img src="dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>*@

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="info ml-3">
                <a href="#" class="d-block">Access Control</a>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav>
        <ul class="mt-2">
            <li class="nav-item">
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/LogDeAcceso" class="nav-link">
                            <i class="fas fa-arrows-alt-v nav-icon"></i>
                            <p>Ingresos/Egresos</p>
                        </a>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="fas fa-globe nav-icon"></i>
                            <p>Recursos 
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Invitados/Index" class="nav-link">
                                    <i class="fas fa-user-friends nav-icon"></i>
                                    <p>Invitados</p>
                                </a>
                            <li class="nav-item">
                                <a href="/CentroCostoView/Index" class="nav-link">
                                    <i class="fas fa-dollar-sign nav-icon"></i>
                                    <p>Centro de Costo</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/PersonalView/Index" class="nav-link">
                                    <i class="fas fa-user nav-icon"></i>
                                    <p>Personal</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/PersonalExternoView/Index" class="nav-link">
                                    <i class="fas fa-user nav-icon"></i>
                                    <p>Personal Externo</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Vehiculos/Index" class="nav-link">
                                    <i class="fas fa-car nav-icon"></i>
                                    <p>Vehículos Externos</p>
                                </a>
                            </li> 
                            <li class="nav-item">
                                <a href="/UsuarioView/Index" class="nav-link">
                                    <i class="fas fa-id-card nav-icon"></i>
                                    <p>Usuarios</p>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="fas fa-spinner nav-icon"></i>
                            <p>
                                Procesamiento
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Procesamiento/Index" class="nav-link">
                                    <i class="fas fa-cogs nav-icon" ></i>
                                    <p>Personal</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="fas fa-list nav-icon"></i>
                            <p>Listados Procesados
                                <i class="right fas fa-angle-left" ></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="/Procesamiento/ListaProcesados" class="nav-link">
                                    <i class="fas fa-file-alt nav-icon"></i>
                                    <p>Personal</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
    <!-- /.sidebar -->
</aside>
<script>
    // Function to change skin
    function changeSkin(skin) {
        var sidebar = document.getElementsByClassName('main-sidebar')[0];

        // Remove existing skin classes
        sidebar.className = sidebar.className.replace(/sidebar-\S+/g, 'sidebar-' + skin.split('-')[1]);

        // Store the selected skin in localStorage
        localStorage.setItem('skin', skin);
    }

    // Apply saved skin on load
    window.onload = function () {
        var savedSkin = localStorage.getItem('skin');
        if (savedSkin) {
            var sidebar = document.getElementsByClassName('main-sidebar')[0];

            sidebar.className = sidebar.className.replace(/sidebar-\S+/g, 'sidebar-' + savedSkin.split('-')[1]);
        }
    }
</script>