@page
@model AccessControlWebRazor.Pages.Vehiculos.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="content-wrapper">


    <div class="contetn">

        <div class="container-fluid">
            <h1>Create</h1>

            <h4>Vehiculo</h4>
            <hr />
            <div class="container">
                <div class="col-md-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Vehiculo.Dominio" class="control-label"></label>
                            <input asp-for="Vehiculo.Dominio" class="form-control" />
                            
                        </div>
                        <div class="form-group">
                            <label asp-for="Vehiculo.Brand" class="control-label"></label>
                            <input asp-for="Vehiculo.Brand" class="form-control" />
                            
                        </div>
                        <div class="form-group">
                            <label asp-for="Vehiculo.Model" class="control-label"></label>
                            <input asp-for="Vehiculo.Model" class="form-control" />
                            
                        </div>
                        <div class="form-group">
                            <label asp-for="Vehiculo.IsActive" class="control-label"></label>
                            <input asp-for="Vehiculo.IsActive" class="form-control" />
                            
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-page="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
